<% provide(:title, 'Forgot Your Password') %>
<div class="jumbotron">
<h2>Forgot your password?</h2>

<p><%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div></p>

  <p><div><%= f.submit "Send reset instructions", class: "btn btn-primary btn-lg" %></div></p>
<% end %>

<%= render "devise/shared/links" %>
</div>
