<% if @commute.errors.any? %>
	<% @commute.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
<% end %>


<%= form_for @commute do |f| %>
	<div><%= f.label :station_name, "Please select your station:" %><br />
		<%= f.collection_select :station_name, @station_names, :to_s, :to_s %></div>

	<div><%= f.label :commute, "What time do you commute?" %><br />
    <%= f.time_select :commute, minute_step: 15, ampm: true, in_time_zone: true %></div>
	<%= f.submit "Save" %>
<% end %>