<h1><%= link_to "Welcome to Text Bike", root_path %></h2>
<% if user_signed_in? %>
<%= link_to "Edit Account", edit_user_registration_path %> | <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Log in", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %>
<% end %>